body {
    text-align: center;
    margin: 0;
}

table,
tr,
td {
    border: 1px solid rgb(255, 255, 255);
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 95%;
    background-color: black;
}

a{
    position:relative;
    text-decoration: none;
    color: black;
    font-size: 15px;
    border: 1px solid lightgray;
    background-color: rgb(239, 239, 239);
    padding: 5px 10px;
    border-radius: 10px;
    top: 20px;
}

tr {
    height: 25px;
}

td {
    width: 25px;
}
.control-div {
    margin-left: 800px;
    margin-right: 800px;
}
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

button {
    border: 1px solid lightgray;
    padding: 5px 10px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
    border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 50%;
}
input[type="text"] {
	border: 1px solid lightgray;
    padding: 5px 10px;
    outline: none;
    border-radius: 10px;
}


@media screen and (max-width: 1000px) {
    tr {
        height: 10px;
    }
    
    td {
        width: 10px;
    }
    
    table {
        /*margin: 0px 0px;*/
        max-width: 100%;
    }
    .control-div {
        margin-left: 0px;
        margin-right: 0px;
    }
}