<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matrix maker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <h1>LED Matrix</h1>
    <div class="control">
        <input type="color" id="color-picker">
        <button type="button" id="clear-grid">Clear Grid</button>
        <button type="button" id="save-grid">Save Grid</button>
    </div>

    <table id="pixel-canvas"></table>


    <script src="{{ url_for('static', filename='draw.js') }}"></script>
</body>

</html>